<footer>
  <div class="d-flex flex-column flex-md-row align-items-center p-5 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  </div>
  <h4 class="my-3 mr-md-auto font-weight-bold text-primary text-center">
    Swimy
  </h4>
</footer>