<%= render "shared/header" %>
<div class="container">
  <% if user_signed_in? %>
    <ul class="row">
      <% @progresses.zip(@lessons).each do |progress,lesson| %>
        <li class="col-md-4">
          <%= link_to lesson.name, "/users/#{current_user.id}/lessons/#{lesson.id}" %>
          <%= pie_chart progress, donut: true, suffix: "%" %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h1>ようこそ</h1>
    <p>トップページです。</p>
  <% end %>
</div>